.error {
    margin-top: 5px;
    white-space: pre-wrap;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #E12C35;
}

.inputDiv {
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
    white-space: nowrap;
}

.input {
    width: 100%;
    transition: 0.3s;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid #E12C35;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #7d0408;
}

.input[type=file] {
    border-bottom: none;
}

.input[type=file]::-webkit-file-upload-button {
    padding: 10px 15px;
    border: 1px solid #E12C35;
    background-color: #FFFFFF;
    color: #E12C35;
    border-radius: 7px;
    transition: 0.3s;
}

.input[type=file]::-webkit-file-upload-button:hover {
    background-color: #E12C35;
    color: white;
}