.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: 25px;
    border-radius: 7px;
}
.header {
    background-size: contain;
    flex-direction: column;
}

.image {
    border-radius: 7px;
    max-width: 200px;
    max-height: 200px;
}

.title {
    font-size: 20px;
    overflow-wrap: break-word;
}

.body {

}

.footer {
    display: flex;
    justify-content: center;
}