.nav {
    padding: 15px 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    padding: 10px 15px;
    border: 1px solid #E12C35;
    border-radius: 7px;
    color: #E12C35;
    transition: 0.3s;
}

.link:hover {
    background-color: #E12C35;
    color: #FFFFFF;
}

.link:first-child {
    margin-right: 5px;
}

.link:not(:first-child) {
    margin: 0 5px;
}