* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #FDB452;
    padding: 0;
    margin: 0;
}

.container {
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 40px 2px rgba(34, 60, 80, 0.2);
    margin: 8% 10%;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.content {
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.contentBody {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

@media (max-width: 570px) {
    .container {
        margin: 0;
        border-radius: 0;
    }
}