* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #FDB452;
    padding: 0;
    margin: 0;
}

.content {
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.contentBody {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

